@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000957;
}
@font-face {
  font-family: "pixelify-sans-bold";
  src: url("/fonts/PixelifySans-Bold.ttf");
}
@font-face {
  font-family: "pixelify-sans-medium";
  src: url("/fonts/PixelifySans-Medium.ttf");
}
@font-face {
  font-family: "pixelify-sans-regular";
  src: url("/fonts/PixelifySans-Regular.ttf");
}
@font-face {
  font-family: "pixelify-sans-semibold";
  src: url("/fonts/PixelifySans-SemiBold.ttf");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: pixelify-sans-regular, sans-serif;
}
